body {
    background-color: #000;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position:absolute;
    top:0;
    left:0;
}